$primary: #8B65AD;
$secondary: #6E3F98;
$dark: #42265B;

.card {
  background-color: #42265b00 !important;
  box-shadow: 0px 0px 15px 0px #000000;
  background: linear-gradient(180deg, #855798 6%, #CCA097 75%);
  background-repeat: no-repeat;
}